# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/client/node_modules
/server/node_modules
/node_modules
/uploads
/.pnp
.pnp.js

# Folders to be ignored
client/node_modules/
client/build/
node_modules/
dist/
build/
.env
client/.env.local
.vscode/
uploads/
.DS_Store
.git
.gitignore
.gitlab-ci.yml
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
coverage/
*.log


# testing
/coverage

# production
/client/build

# misc
.DS_Store
.env
.env.local
/client/.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
